* {
    margin: 0;
    border: none;
    padding: 0;
}

/* background images */

.index {
    background: url(../images/home.jpeg) no-repeat center center;
}

.i16-25 {
    background: url(../images/16-25.jpeg) no-repeat center center;
    background-position: unset;
    background-size: cover;
}

.i26-40 {
    background: url(../images/26-40.jpeg) no-repeat center center;
    background-position: unset;
    background-size: cover;
}

.i40 {
    background: url(../images/40+.png) no-repeat center center;
    background-position: unset;
    background-size: cover;
}

.contact {
    background: url(../images/contact.png) no-repeat center center;
    background-position: unset;
    background-size: cover;
}

/* nav menu */

nav{
    background-color: #ffa200a6;
    text-align: center; 
    display: flex;
    justify-content: space-evenly;
    position: fixed; 
    top: 0;
    width: 100%;
  }

/* text box background */

.box {
    background-color: rgba(255, 255, 255, 0.719);
    margin-right:30%;
    max-width:80%;
    margin:auto;
    text-justify: auto;
}