@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@700&display=swap');

* {
    margin: 0;
    border: none;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}

#index {
    text-align: center;
}

/* logo */

#logo {
    margin: 0 auto;
    display: block;
    width: 150px;
    height: 100px;
    padding-bottom: 20px;
}

/* background images */

.index {
    background: url(../images/home.jpeg) no-repeat center center;
}

.i16-25 {
    background: url(../images/16-25.jpeg) no-repeat center center;
    background-position: unset;
    background-size: cover;
}

.i26-40 {
    background: url(../images/26-40.jpeg) no-repeat center center;
    background-position: unset;
    background-size: cover;
}

.i40 {
    background: url(../images/40+.png) no-repeat center center;
    background-position: unset;
    background-size: cover;
}

.contact {
    background: url(../images/contact.png) no-repeat center center;
    background-position: unset;
    background-size: cover;
}

/* nav menu */

nav {
    background-color: #ffa200;
    text-align: center; 
    display: flex;
    justify-content: space-evenly;
    position: fixed; 
    top: 0;
    width: 100%;
    padding-top: 10px;
  }

.nav {
    font-size: 22px; 
    color:black;
    text-decoration: none;
    border: 2px solid #333;
    background-color: rgb(255, 255, 255);
    font-weight:bold;
    padding: 5px 10px 5px 10px;
    margin-bottom: 10px;
   }

/* text box background */

h1 {
    text-align: center;
}

h2 {
    padding-top: 50px;
}

h1 h2 h3 {
    font-family: 'Playfair Display', serif;
    font-weight: bolder;
}

.title {
    padding: 0 0 0 60px;
}

.box {
    background-color: rgba(255, 255, 255, 0.918);
    margin-right:30%;
    max-width:80%;
    margin:auto;
    margin-top: 120px;
    margin-bottom: 500px;
    border: 2px solid #333;
}

.what-we-do {
    list-style-position: inside;
    padding: 10px 0 0 30%; 
    text-align: left;
  }

.where-do-you-start, p {
    display: block; 
    text-align: left;
    padding: 15px 60px 60px 60px;
}

.steps {
    font-weight: bold;
    display: block;
}
/* footer */

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
}
  
.social-networks {
    text-align: center;
    padding: 6px;
    background-size: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    }
    
.social-networks > li {
    display: inline; 
    }

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #ffffff;
    }

/* form */

form {
    margin: 100px;
    border: 2px solid #333;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 253, 253, 0.6);
    padding: 30px;
    width: 80%;
}

form h2 {
    font-family: 'Playfair Display SC', serif;
    padding-bottom: 50px;
    font-size: 28px;
    font-weight: bolder;
}

input, select, textarea {
    border: 2px solid #333;
}

#form-info {
    width: 50%;
}

.label {
    display: list-item;
    list-style-type: none;
    padding: 10px 0 0 0;
    font-weight: bold;
}

#submit-form {
    font-weight: bold;
    padding: 5px 13px 5px 13px;
    background-color: orange;
    border: 2px solid #333;
    margin-top: 25px;
}

#clear-form {
    font-weight: bold;
    padding: 5px 13px 5px 13px;
    background-color: orange;
    border: 2px solid #333;
    margin-left: 31%;
    margin-top: 25px;
}

/* media queries*/

/* 800px and below */
@media screen and (max-width: 800px) {
    nav, .nav {
        line-height: 25px;
        font-size: 16px;
    }

    .contact {
        background-size: auto;
    }

    ul {
        padding-right: 20px;
    }

    form {
        margin: 68px auto;
        width: 50%;
        padding: 0 40px 40px 40px;
    }

    #submit-form {
        margin-left: -30px;
        
    }

    #clear-form {
        margin-left: 70px;
        position: absolute;
    }

    #form-info {
        width: 95%;
    }

}